@model List<DataAccessLayer.Models.ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>City</th>
            <th>Role</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            var RoleId = "";
            if(user.Roles != null  && user.Roles.Count > 0)
            {
                RoleId = user.Roles.FirstOrDefault().ToString();
            }
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.City</td>
                <td>
                    <select class="form-select role-dropdown" data-user-id="@user.Id">
                        <option value="">Select Role</option>
                        @foreach(var role in ViewBag.Roles)
                        {
                            if(RoleId == role.Value)
                            {
                                <option value= "@role.Text" selected>@role.Text</option>
                            }
                            else
                            {
                                <option value="@role.Text">@role.Text</option>
                            }
                        }
                    </select>
                </td>

            </tr>
        }
    </tbody>
</table>


