@model DataAccessLayer.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
     @*   @Html.BeginForm("Edit","Customer",FormMethod.Post){*@
        <form asp-action="Edit">
        @Html.EditorFor(m=>m.Name,null,"Name", new {htmlAttributes = new {@class = "form-control"}})
        @Html.LabelFor(m=>m.Email)
        @Html.EditorFor(m=>m.Email,null,"Email", new {htmlAttributes = new {@class = "form-control"}})
        @Html.EditorFor(m=>m.Phone,null,"Phone", new {htmlAttributes = new {@class = "form-control"}})
        @Html.EditorFor(m=>m.Address,null,"Address", new {htmlAttributes = new {@class = "form-control"}})
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
        @*<form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
           
  
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
